body {
    background-color: lightblue;
}

#links { 
    border-style: solid;
    border-color: black; 
    border-radius: 5px;
    width: 140px;
    text-align: center;
}

img {
    border-radius: 10%;
}

#salespitch {
    text-decoration: underline;
}





